<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>小网店</title>
        <meta name="keywords" content="test" />
        <meta name="description" content="test" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/favicon.ico?r=gold" type="image/x-icon" />
        {% style "/css/fontawesome-all.css" %}
        {% style "/css/main.css" %}
    </head>
    <body>
        <div class="h-header">
            <div class="h-sitenav">
                <div class="cp-row flex content-between">
                    <div class="flex">
                        <a href="#">好的生活，没那么贵</a>
                        <div class="h-notice">
                            <ul>
                                <li><a href="#">【最新】情人节礼物指南>></a></li>
                                <li><a href="#">【最新】情人节礼物指南>></a></li>
                                <li><a href="#">【最新】情人节礼物指南>></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="h-user-box">
                            <a href="#" class="h-nav-item">登录</a>
                            <a href="#" class="h-nav-item">注册</a>
                        </div>
                        <div class="h-nav-itemlist flex">
                            <a href="#" class="h-nav-item">我的订单</a>
                            <a href="#" class="h-nav-item">会员</a>
                            <a href="#" class="h-nav-item">甄选家</a>
                            <a href="#" class="h-nav-item">企业采购</a>
                            <div href="#" class="h-nav-item">
                                <span>客户服务 <i class="fas fa-angle-down"></i></span>
                                <ul class="h-nav-item-droplist" style="display:none;">
                                    <li><a href="#">在线客服</a></li>
                                    <li><a href="#">帮助中心</a></li>
                                    <li><a href="#">商务合作</a></li>
                                    <li><a href="#">开放平台</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- header-bar or menu-bar(searchable) -->
            <div class="menu-bar">
                <div class="cp-row">
                    <div class="menu-container">
                        <div class="logo">
                            LOGO
                        </div>
                        <div class="menu-wrap">
                            <div class="menu-wrap-item">
                                <a href="#" class="current">首页</a>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">居家</a>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">配件</a>
                                <div class="menu-wrap-item-dropbox hide">
                                    <div class="cp-row itemlist">
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                        <a class="item" href="#">
                                            <img src="http://yanxuan.nosdn.127.net/288b0e864a24763bade8e22c0c39ff02.png">
                                            <h3>男士包袋</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">配件</a>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">配件</a>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">配件</a>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">配件</a>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">配件</a>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">配件</a>
                            </div>
                            <div class="menu-wrap-item">
                                <a href="#">配件</a>
                            </div>
                        </div>
                        <div class="extra-box flex">
                            <a href="#" class="coppse icon-btn-wrap"> >> </a>
                            <div class="search-box flex icon-btn-wrap">
                                <div class="input-box">
                                    <input placeholder="APP下单更省钱" name="search" class="search-input" />
                                    <div class="drop-search hide">
                                        <div class="text-info">大家都在搜</div>
                                        <ul class="search-keylist">
                                            <li class="hot"><a href="#">情侣套装99元9件起</a></li>
                                            <li class="hot"><a href="#">情侣套装99元9件起</a></li>
                                            <li><a href="#">情侣套装99元9件起</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="extra-icon-btn"><i class="fas fa-search"></i></a>
                            </div>
                            <div class="user-box icon-btn-wrap">
                                <a class="extra-icon-btn" href="#">
                                    <i class="fas fa-user"></i>
                                </a>
                                <div class="user-drop hide">
                                    <a href="#">登录</a>
                                    <a href="#">注册</a>
                                </div>
                            </div>
                            <div class="cart-box icon-btn-wrap">
                                <a class="extra-icon-btn" href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="radus">1</span>
                                </a>
                                <div class="cart-drop hide">
                                    <div class="cart-drop-content">
                                        <div class="cart-drop-item">
                                            <div class="cart-drop-item-imgbox">
                                                <img src="http://yanxuan.nosdn.127.net/27ba01323728285cf16834472b738abc.png?quality=90&thumbnail=60x60&imageView" alt="111" />
                                            </div>

                                            <div class="cart-product-info">
                                                <a href="#">2018情人节 心动璀璨礼盒</a>
                                                <p>心动璀璨礼盒 x 1</p>
                                            </div>

                                            <a class="cart-product-del" href="#">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        </div>
                                        <div class="cart-drop-item">
                                            <div class="cart-drop-item-imgbox">
                                                <img src="http://yanxuan.nosdn.127.net/27ba01323728285cf16834472b738abc.png?quality=90&thumbnail=60x60&imageView" alt="111" />
                                            </div>

                                            <div class="cart-product-info">
                                                <a href="#">2018情人节 心动璀璨礼盒</a>
                                                <p>心动璀璨礼盒 x 1</p>
                                            </div>

                                            <a class="cart-product-del" href="#">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cart-drop-footer">
                                        <div class="text">商品总计: ￥500.00</div>
            <button class="cart-btn">去购物车结算</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div style="margin-top: 100px;"></div>

        <div class="slider">
            <div class="slider-itemlist">
                <a href="#" class="slider-itemlist-item">
                    <div class="imgbg" style="background:url('http://yanxuan.nosdn.127.net/01bc1b07d9fb4fdf4db3db5944a44676.jpg?quality=95&thumbnail=1920x420&imageView')"></div>
                </a>
                <a href="#" class="slider-itemlist-item">
                    <div class="imgbg" style="background:url(http://yanxuan.nosdn.127.net/01bc1b07d9fb4fdf4db3db5944a44676.jpg?quality=95&thumbnail=1920x420&imageView)"></div>
                </a>
                <a href="#" class="slider-itemlist-item">
                    <div class="imgbg" style="background:url(http://yanxuan.nosdn.127.net/01bc1b07d9fb4fdf4db3db5944a44676.jpg?quality=95&thumbnail=1920x420&imageView)"></div>
                </a>

            </div>
            <div class="slider-control">
                <div class="left-btn">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="right-btn">
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div class="slider-indexer">
                <div class="slider-indexer-item"></div>
                <div class="slider-indexer-item current"></div>
                <div class="slider-indexer-item"></div>
            </div>
        </div>


        <div class="cp-row">

        </div>
    </body>
</html>
