{:dev true
 ;;Twitter used as an example, replace these URIs with the OAuth provider of your choice
 :request-token-uri "https://api.twitter.com/oauth/request_token"
 :access-token-uri "https://api.twitter.com/oauth/access_token"
 :authorize-uri "https://api.twitter.com/oauth/authenticate"
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 ;;:upload-path "g:/listdata"
 :upload-path "/Users/huangyesheng/Downloads"
 :media-path "g:/listdata"
 :database-url "jdbc:mysql://127.0.0.1/shop?user=root&password=a5235013"
 :database-spec {:adapter            "mysql"
                 :username           "root"
                 :password           "a5235013"
                 :database-name      "shop"
                 :server-name        "127.0.0.1"
                 :port-number        3306}
 :arikami-root "/Users/huangyesheng/Documents/project/arikami.com"
 :arikami-test-root "/Users/huangyesheng/Documents/project/arikami.com"
}
